{% extends 'aisoot_app1/base.html' %}

{% block content %}

<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s"
                            data-wow-delay="1s">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h2>Revolutionize Your Online Presence: Your Website, Your Identity</h2>
                                    <p>Elevate your digital presence with precision-crafted websites by aisoot. From
                                        sleek designs to seamless functionality, we specialize in delivering a
                                        professional edge to your online identity. Let's make your web vision a stunning
                                        reality.</p>
                                </div>
                                <div class="col-lg-12">
                                    <div class="white-button first-button scroll-to-section">
                                        <a href="#contact">Free Quote <i class="fab fa-apple"></i></a>
                                    </div>
                                    <div class="white-button scroll-to-section">
                                        <a href="#contact">Free Quote <i class="fab fa-google-play"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                            {% load static %}
                            <img src="{% static 'assets/images/slider-dec.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="services" class="services section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
                    <h4>Amazing <em>Services &amp; Features</em> for you</h4>
                    <img src="{% static 'assets/images/heading-line-dec.png' %}" alt="">
                    <p>"Unlock boundless possibilities with our web apps – where innovation meets seamless
                        functionality, delivering an unparalleled digital experience tailored just for you."</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="service-item first-service">
                    <div class="icon"></div>
                    <h4>App Maintenance</h4>
                    <p>You are not allowed to redistribute this template ZIP file on any other website.</p>
                    <div class="text-button">
                        <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="service-item second-service">
                    <div class="icon"></div>
                    <h4>Rocket Speed of App</h4>
                    <p>You are allowed to use the Chain App Dev HTML template. Feel free to modify or edit this layout.
                    </p>
                    <div class="text-button">
                        <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="service-item third-service">
                    <div class="icon"></div>
                    <h4>Multi Workflow Idea</h4>
                    <p>If this template is beneficial for your work, please support us <a rel="nofollow"
                            href="https://paypal.me/templatemo" target="_blank">a little via PayPal</a>. Thank you.</p>
                    <div class="text-button">
                        <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="service-item fourth-service">
                    <div class="icon"></div>
                    <h4>24/7 Help &amp; Support</h4>
                    <p>Lorem ipsum dolor consectetur adipiscing elit sedder williamsburg photo booth quinoa and fashion
                        axe.</p>
                    <div class="text-button">
                        <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="about" class="about-us section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="section-heading">
                    <h4>About <em>What We Do</em> &amp; Who We Are</h4>
                    <img src="{% static 'assets/images/heading-line-dec.png' %}" alt="">
                    <p>Elevate your online experience with our expertise in web development. We are a team of
                        innovators, crafting digital solutions tailored to your unique needs.</p>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="box-item">
                            <h4><a href="#">Maintance Problems</a></h4>
                            <p>Bid farewell to website worries. Our dedicated team ensures seamless maintenance, so you
                                can focus on what matters most – your business.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box-item">
                            <h4><a href="#">24/7 Support &amp; Help</a></h4>
                            <p>Experience unparalleled support around the clock. Our team is here 24/7 to provide
                                assistance, ensuring your online presence is always at its best.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box-item">
                            <h4><a href="#">Fixing Issues About</a></h4>
                            <p>Leave the troubleshooting to us. We specialize in swiftly identifying and fixing any
                                issues, ensuring your website runs smoothly at all times.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box-item">
                            <h4><a href="#">Co. Development</a></h4>
                            <p>Collaborate with us for a transformative development journey. We don't just build
                                websites; we co-develop digital solutions that grow with your aspirations.</p>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <p>Embark on a risk-free journey to excellence. Begin your 14-day free trial with no credit card
                            required – because experiencing our commitment to your success is the first step towards
                            digital greatness.</p>
                        <div class="gradient-button">
                            <a href="#">Start 14-Day Free Trial</a>
                        </div>
                        <span>*No Credit Card Required</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-image">

                    <img src="{% static 'assets/images/about-right-dec.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="clients" class="the-clients">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="section-heading">
                    <h4>Check What <em>The Clients Say</em> About Our App Dev</h4>
                    <img src="{% static 'assets/images/heading-line-dec.png' %}" alt="">
                    <p>Discover the success stories straight from our clients' perspectives. See what they have to say
                        about our top-notch website development services – a testament to our commitment to excellence
                        and client satisfaction.</p>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="naccs">
                    <div class="grid">
                        <div class="row">
                            <div class="col-lg-7 align-self-center">
                                <div class="menu">
                                    <div class="first-thumb active">
                                        <div class="thumb">
                                            <div class="row">
                                                <div class="col-lg-4 col-sm-4 col-12">
                                                    <h4>Ramanathan Govindaraj</h4>
                                                    <span class="date">30 September 2023</span>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                                                    <span class="category">Financial Apps</span>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 col-12">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <span class="rating">4.8</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="thumb">
                                            <div class="row">
                                                <div class="col-lg-4 col-sm-4 col-12">
                                                    <h4>Pamuri Thirupalu</h4>
                                                    <span class="date">2 August 2023</span>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                                                    <span class="category">Ecommerce Website</span>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 col-12">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <span class="rating">4.5</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="thumb">
                                            <div class="row">
                                                <div class="col-lg-4 col-sm-4 col-12">
                                                    <h4>Varun singh</h4>
                                                    <span class="date">27 May 2022</span>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                                                    <span class="category">Portfolio WebApps</span>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 col-12">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <span class="rating">4.7</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="thumb">
                                            <div class="row">
                                                <div class="col-lg-4 col-sm-4 col-12">
                                                    <h4>srishti Gowda</h4>
                                                    <span class="date">5 February 2022</span>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                                                    <span class="category">Web Development</span>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 col-12">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <span class="rating">4.1</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="last-thumb">
                                        <div class="thumb">
                                            <div class="row">
                                                <div class="col-lg-4 col-sm-4 col-12">
                                                    <h4>Yash Reddy</h4>
                                                    <span class="date">2 January 2022</span>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                                                    <span class="category">Web Development</span>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 col-12">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <span class="rating">4.3</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <ul class="nacc">
                                    <li class="active">
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="client-content">
                                                            <img src="{% static 'assets/images/quote.png' %}" alt="">
                                                            <p>"Welcome to our digital haven! As the founder, I
                                                                envisioned a space where businesses could seamlessly
                                                                transcend the digital landscape. Our journey is a fusion
                                                                of passion, creativity, and unwavering commitment. At
                                                                Aisoot, we don't just craft websites; we sculpt
                                                                experiences that resonate. Join us on this adventure,
                                                                and let's redefine your digital presence together."





                                                            </p>
                                                        </div>
                                                        <div class="down-content">
                                                            <img src="{% static 'assets/images/k6.png' %}" alt="">
                                                            <div class="right-content">
                                                                <h4>Kushagra Singh</h4>
                                                                <span>Founder of Aisoot</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="pricing" class="pricing-tables">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="section-heading">
                    <h4>We Have The Best Pre-Order <em>Prices</em> You Can Get</h4>
                    <img src="{% static 'assets/images/heading-line-dec.png' %}" alt="">
                    <p>Unlock unbeatable pre-order prices tailored-made for you. Choose from our range of plans to suit
                        your needs:</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pricing-item-regular">
                    <span class="price">&#8377;5000</span>
                    <h4>Standard Plan App</h4>
                    <div class="icon">
                        <img src="{% static 'assets/images/pricing-table-01.png' %}" alt="">
                    </div>
                    <ul>
                        <li>Responsive Mobile Friendly Website</li>
                        <li>20 TB of Storage</li>
                        <li>Free .in domain</li>
                        <li>Free Hosting</li>
                        <li>Life-time Support</li>
                        <li class="non-function">Premium Add-Ons</li>
                        <li class="non-function">Fastest Network</li>
                        <li class="non-function">More Options</li>
                    </ul>
                    <div class="border-button">
                        <a href="#">Purchase This Plan Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pricing-item-pro">
                    <span class="price">&#8377;10000</span>
                    <h4>Business Plan App</h4>
                    <div class="icon">
                        <img src="{% static 'assets/images/pricing-table-01.png' %}" alt="">
                    </div>
                    <ul>
                        <li>Responsive Mobile Friendly Website</li>
                        <li>50 TB of Storage</li>
                        <li>Free .in domain</li>
                        <li>Free Hosting</li>
                        <li>Life-time Support</li>
                        <li>Premium Add-Ons</li>
                        <li class="non-function">Fastest Network</li>
                        <li class="non-function">More Options</li>
                    </ul>
                    <div class="border-button">
                        <a href="#">Purchase This Plan Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pricing-item-regular">
                    <span class="price">&#8377;20000</span>
                    <h4>Premium Plan App</h4>
                    <div class="icon">
                        <img src="{% static 'assets/images/pricing-table-01.png' %}" alt="">
                    </div>
                    <ul>
                        <li>Responsive Mobile Friendly Website</li>
                        <li>120 TB of Storage</li>
                        <li>Free .in domain</li>
                        <li>Free Hosting</li>
                        <li>Life-time Support</li>
                        <li>Premium Add-Ons</li>
                        <li>Fastest Network</li>
                        <li>More Options</li>
                    </ul>
                    <div class="border-button">
                        <a href="#">Purchase This Plan Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}